@import "tailwindcss";
@import "@nuxt/ui";

/* Layout - Keep these as they define the overall page structure and are not component-specific */
body {
  font-family: 'Inter', sans-serif;
}

.hero-header {
  color: grey-100;
  text-align: center;
}


.hero-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  max-width: 100rem;
  margin: 0 auto;
}

@media (prefers-color-scheme: dark) {
  .hero-container {
    background: linear-gradient(to bottom right, #111827, #1f2937);
  }
}

.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  max-width: 82rem;
}

@media (min-width: 768px) {
  .hero-inner {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}