@import "tailwindcss";
@import "@nuxt/ui";


html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  background: #94a3b8 !important;
  font-family: 'Inter', sans-serif;
}

html.dark body {
  background: linear-gradient(to bottom right, #1e293b, #4c1d95);
}


.hero-header {
  color: grey-100;
  text-align: center;
}


.hero-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  max-width: 75%;
  margin: 0 auto;
  transition: all 0.5s ease;
  border-radius: 0.75rem; 
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); 
}
@media (prefers-color-scheme: dark) {
  .hero-container {
    background: linear-gradient(to bottom right, #111827, #1f2937);
  }
}

.chat-container {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  width: 100%;
  margin: 0 auto;
  transition: all 0.5s ease;
  border-radius: 0.75rem;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom right, #111827, #1f2937);
}

@media (prefers-color-scheme: dark) {
  .hero-container {
    background: linear-gradient(to bottom right, #111827, #1f2937);
  }
}

.hero-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  width: 100%;
  padding-top: 5rem; 
}

@media (min-width: 768px) {
  .hero-inner {
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
  }
}


.hero-gap {
  row-gap: 3rem;
}

/* Only from xl and up */
@media (min-width: 1980px) {
  .hero-gap {
    column-gap: 10rem;
  }
}


.action-toolbar {
  @apply absolute top-2 right-2 z-10 flex space-x-2 bg-white/80 p-1 rounded;
}


.my-journey {
  font-family: 'Passion One', cursive;
}

.passions-conflict-regular {
  font-family: "Passions Conflict", cursive;
  font-weight: 400;
  font-style: normal;
}


.menu-chris {
  font-family: 'Anton SC', 'Staatliches', Arial, sans-serif;
  font-size: 3rem;
  letter-spacing: 2px;
}